* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #96bdc6;
}

#home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

nav {
     height: 8%;
     width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #96bdc6;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:60%;

}

.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #FFFFFA  ;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
}
a:hover {
  text-decoration: underline;
}

.words {
  height: 92%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.jordan {
    display: flex ;
    flex-wrap: wrap;
    height: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px; 
}

.holderOfButton {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.homeButton {
    height: 20%;
    width: 20%;
    background-color: #EDF5FC;
    box-shadow: 0 0 5px #EDF5FC, 0 0 25px #EDF5FC;
    border-radius: 20px;
    border: none;
}

.homeButton:hover {
    box-shadow: 0 0 5px #EDF5FC,
    0 0 25px #EDF5FC, 0 0 50px #EDF5FC,
    0 0 100px #EDF5FC, 0 0 200px #EDF5FC;
}

.helloWeb {
    color: #3F7CAC;
    display: flex;
}

.holderOfHi {
    width: 55%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.homeImage {
    width: 400px;
    border-radius: 40px;
}

#about {
    height: 130vh;
    width: 100vw;
    display: flex;
}

.containerOfImage {
 height: 100%;
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.aboutImage {
    border-radius: 50px;
}

.wordsOfAbout {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerOfH1 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
}



.holderOfButtonOfAbout {
   width: 100%;
   height: 15%;
   display: flex;
   
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.pc120 {
    display: flex;
    color: #3F7CAC;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
    align-items: end;
    
}

.aboutbutton {
    height: 5%;
    width: 20%;
    background-color: #EDF5FC;
    box-shadow: 0 0 5px #EDF5FC, 0 0 25px #EDF5FC;
    border-radius: 20px;
    border: none;
}

.aboutbutton:hover {
    box-shadow: 0 0 5px #EDF5FC,
    0 0 25px #EDF5FC, 0 0 50px #EDF5FC,
    0 0 100px #EDF5FC, 0 0 200px #EDF5FC;
}

.small {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-family: 'Bodoni Moda', serif;
    color: white;
}

.big {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-family: 'Bodoni Moda', serif;
    color: white;
}

.p-about {
    height: 35%;
    width: 90%;
    /* background-color: lawngreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: balance;
}
.pInAbout {
    color: black;
    font-weight: bolder;  
    font-family: 'Space Grotesk', sans-serif;
}

#resume {
    height: 285vh;
    width: 100vw;
    display: flex;
}

.containerOfRes {
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.titleOfRes {
 width: 100%;
 height: 25%;
 display: flex;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.holder-Wres {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
} 


.row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .buttonOfResume {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.tor {
    height: 70%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.nameOfRes {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-family: 'Bodoni Moda', serif;
    color: white;
}
.wordsOfRes{
    flex-wrap:balance;
    font-size: 20px;
    font-weight: bold;
    color: #416165;
}

.right {
    height: 100%;
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.left {
    height: 100%;
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.top {
    height: 30%;
    width: 90%;
    background-color:#81ADC8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.date {
    font-weight: 900;
    font-size: 26px;
   color: #0B3C49;
}

.h2OfResume {
    font-size: 26px;
    line-height: 1.5;
   color: #0B3C49   ;
    font-weight: 400;
}

.location {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #0B3C49;
}

.p-row {
    height: 50%;
    width: 80%;
    display: flex;
    color: #F4EDED;
    flex-wrap: wrap;
    text-align: center;
}

.p-r{
    font-weight: bolder;  
    font-family: 'Space Grotesk', sans-serif;  
}

.top-section {
    height: 30%;
    width: 100%;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle {
    height: 30%;
    width: 90%;
    background-color:#81ADC8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.bottom {
    height: 30%;
    width: 90%;
    background-color:#81ADC8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.top1 {
    height: 30%;
    width: 90%;
    background-color:#81ADC8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.middle1 {
    height: 30%;
    width: 90%;
    background-color:#81ADC8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.bottom1 {
    height: 30%;
    width: 90%;
    background-color:#81ADC8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bor {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-resume {
    height: 20%;
    width: 20%;
    background-color: #EDF5FC;
    box-shadow: 0 0 5px #EDF5FC, 0 0 25px #EDF5FC;
    border-radius: 20px;
    border: none;
}

.b-resume:hover {
    box-shadow: 0 0 5px #EDF5FC,
    0 0 25px #EDF5FC, 0 0 50px #EDF5FC,
    0 0 100px #EDF5FC, 0 0 200px #EDF5FC;
}

#services {
    height: 170vh;
    width: 100vw;
    display: flex;
}

.containerServices {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.servicesLogo {
    height: 23%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.h-s {
    height: 40%;
    width: 80%;
  
} 

.p-services {
    height:65%;
    width: 52%;
   
}

.h-logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Bodoni Moda', serif;
    /* font-family: 'Space Grotesk', sans-serif; */
}

.p-s {
    font-weight: bolder;  
    font-family: 'Space Grotesk', sans-serif;    
}

.containerOfHoverDiv {
 height: 55%;
 width: 85%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}

.top-row {
    height: 40%;
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.bottom-row {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.top-1 {
    display: flex;
    height: 100%;
    width: 30%;
    background-color:#81ADC8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-services {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-1 {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wordsOfS {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blankdiv {
    height: 1px;
    width: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-2 {
    height: 100%;
    width: 30%;
    background-color:#81ADC8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.top-3 {
    height: 100%;
    width: 30%;
    background-color:#81ADC8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.bottom-1 {
    height: 100%;
    width: 30%;
    background-color:#81ADC8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttom-2 {
    height: 100%;
    width: 30%;
    background-color:#81ADC8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttom-3 {
    height: 100%;
    width: 30%;
    background-color:#81ADC8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#skills {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: aqua;
}
#projects {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: yellow;
}

#myblog {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: brown;
}

#contact {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: blue;
}



@media screen and (max-width:1024px) {
    .nav-links {
        width:80%;  
    }
    
}


